<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Application" switchValue="Verbose">
        <listeners>
          <add name="applistener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="applistener" initializeData="%AppSettingsFolder%\Client.log" type="ClientApi.CustomTextWriterTraceListener, ClientApi"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>